@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper{
  height: 100%;
  width: 350px;
  position: relative;
  display:none;
}
.wrapper .menu-btn{
  position: absolute;
  left:-5px;
  top: -.4rem;
  color:white;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 235px;
}
.wrapper .menu-btn i{
  position: absolute;
  font-size: 20px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}
#sidebar{
  position: fixed;
  background: white;
  border: 1px solid gray;
  box-shadow: 0 5px gray;

  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -270px; 
  z-index:3;
  transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .title{
  background:rgb(68, 68, 253);
  font-size: 20px;
  padding: 10px;
  font-weight: 300;
  color:white;
  border-bottom: 1px solid rgb(207, 207, 207);
}

#sidebar .list-items li:first-child{
  border-top: none;
}
#sidebar .list-items li a{
  color:black;
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
  font-weight: 10;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li a i{
  margin-right: 20px;
}
#phonicon{
  position: relative;
  display:none;
}
#fliplogo{
  display: block;
  position:absolute;
  left: 13rem;
}
#sech input{
  border-radius: 0%;
}
#sech{
  width:30rem;
  margin-left:18rem;
}


/* second heder bottom links */

 /* style="position:relative;left: 11rem;"  */

 #ul_in_ul0{
  width: 250px;
  height: 35rem;
  font-size:12px;
  font-weight: 800;
  border-radius: 0%;
  margin-right:5rem;

}
#ul_in_ul1{
  width: 260px;
  height: 35rem;
  font-size:12px;
  font-weight: 800;
  border-radius: 0%;
  margin-left: 14rem;
}
#ul_in_ul2{
  width: 260px;
  height: 35rem;
  font-size:12px;
  font-weight: 800;
  border-radius: 0%;

  margin-left: 29rem;
}
#ul_in_ul3{
  width: 260px;
  height: 35rem;
  font-size:12px;
  font-weight: 800;
  border-radius: 0%;
  margin-left:45rem;
}
#ul_in_ul4{
  width: 260px;
  height: 35rem;
  font-size:12px;
  font-weight: 800;
  border-radius: 0%;
  margin-left: 60rem;
}
@media (max-width:434px){
  #phonicon{
    position:relative;
    top:-2rem;
  }
}
@media (max-width:987px){
  #sech{
    margin-left: 0%;
  }
  .wrapper{
    display: block;
  }
  #phonicon{
    display:block;
  }
  #fliplogo{
    display:none;
  }
}
