#hide1{
    display: none;
}
#product_div{
    display: none;
}
@media (max-width:987px) {
    #hide1{
        display:block;
    }
    #product_div{
        display:block;

    }
    #product_div {
        width: 100%;
        height: auto;
        background: green;
    }

    #product_div .itemsfn {
        width: 50%;
        background: white;
        /* display: flex; */
    }

    #product_div .itemsfn .contener {
        width: 300px;
        height: 300px;
        border: 1px solid black;
    }

    #product_div .itemsfn .contener .row {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    /* #d1{
        height: 350px;
        width:250px;
    } */
    #d4{
        height:180px;
        width:140px;
        /* float: right; */
    }
    #d3{
        height:180px;
        width:140px;
        float: right;
    }
}