#loginfrom{
    position:absolute;
    left: 20rem;
    top: 0%;
}
#form1 input{
    width: 357px;
    position: relative;
    left: 3rem;
    top: 2rem;
    align-items: center;
    border:0;
    border-bottom: 1px solid rgb(0, 26, 255);
    outline: none;
    background: transparent;
}
#closebuton{
    float: right;
    position: relative;
    left: 6rem;
    top: 0.5rem;

}

#form1 p{
    font-size: 12px;
    margin-left: 3rem;
    align-items: center;
    color: #999;
}
#loginfrom #lbn {
    /* text-align: center; */
    border: none;
    margin-left:5rem;
    width: 280px;
    height: 50px;

    background: orange;

}