{% extends "index.html" %}
{% block head %}

{% endblock head %}
{% block body %}

<div class="card bg-light w-100">
    <div class="card-body">
        <h5 class="card-title fw-bold">Mobile phones</h5>
        <div id="fnlinks_of_card">

            <p class="card-text">Mobile phones are no more merely a part of our lives. Whether it's to stay
                connected
                with friends and family or to keep abreast of important developments around the world, mobiles are no
                longer
                for sending a text or making a call. From budget to state-of-the-art smartphones; indigenous names to
                global
                big-wigs - a whole universe of mobiles await you on Flipkart. Whether you’re looking for waterdrop notch
                screens, a high screen to body ratio, AI-powered sensational cameras, high storage capacity, blazing
                quick
                processing engines or reflective glass designs, rest assured you won’t have to venture anywhere else for
                your smartphone needs. The information you are reading has been last updated on 22-Jan-23. </p>

            <a href="#">Nothing Phone 1 |</a>
            <a href="#" class="card-link"> Google Pixel 6A |</a>
            <a href="#" class="card-link"> vivo T1X |</a>
            <a href="#" class="card-link">OPPO Reno 8 Pro 5G |</a>
            <a href="#" class="card-link">OPPO Reno7 Pro 5G |</a>
            <a href="#" class="card-link">OPPO Reno7 5G |</a>
            <a href="#" class="card-link">iPhone 13 |</a>
            <a href="#" class="card-link"> iPhone 13 Pro |</a>
            <a href="#" class="card-link"> iPhone 13 Pro Max |</a>
            <a href="#" class="card-link"> iPhone 13 Mini |</a>
            <a href="#" class="card-link"> iPhone 12 |</a>
        </div>
    </div>
</div>

<!-- <div class="flex-shrink-0 p-3 bg-white bg-body shadow-lg" style="width: 280px;height:95rem;"></div> -->

<div class="flex-shrink-0 p-3 bg-white bg-body shadow-lg" style="width: 280px;height:95rem;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-5 fw-semibold">Filters</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li>

            <div class="" id="saidfilters">
                <a href="" class="mx-4">
                    < Mobiles & Accessories</a><br>
                        <a href="" class="mx-5">Mobile</a>
            </div>
        </li>
        <hr>
        <li>
            <div class="d-flex">
                <div class="col-md-4">
                    <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">Min</option>
                        <option>1000</option>
                        <option>10000</option>
                        <option>20000</option>
                    </select>


                </div>
                <div class="col-md-4 mx-2">
                    <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">Max</option>
                        <option>1000</option>
                        <option>10000</option>
                        <option>20000</option>
                    </select>
                </div>
            </div>
            <hr>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="true">
                c
            </button>
            <div class="collapse show mx-5" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                4★ & above
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                6★ & above
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <hr>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#dashboard-collapse" aria-expanded="false">
                brand
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mx-5">
                    <li><input type="text" placeholder="Seearch Brand"
                            style=" border:none;border-bottom: 2px solid silver;"></li>
                    <li><br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                realme
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                SAMSUNG
                            </label>
                        </div>
                    </li>

                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                PCO
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Mi
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Apple
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Infinix
                            </label>
                        </div>
                    </li>
                    <br><br>
                    <li><a href="" class="text-decoration-none">178 more</a></li>
                </ul>

            </div>
        </li>
        <hr>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#dashboard-collapse" aria-expanded="false">
                RAM
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mx-4">

                    <li><br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                4 GB
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                8 GB

                            </label>
                        </div>
                    </li>

                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                16 GB

                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                32 GB

                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                64 GB
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                128 GB
                            </label>
                        </div>
                    </li>
                    <br><br>
                </ul>

            </div>
        </li>
        <hr>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#account-collapse" aria-expanded="false">

            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New...</a></li>
                    <li><a href="#" class="link-dark rounded">Profile</a></li>
                    <li><a href="#" class="link-dark rounded">Settings</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>


<div id="ssxx" class="bg-body shadow-lg float-right">
    <div class="mx-2">
        <p><b>Mobile</b>(Showing 1 – 24 products of 198 products)</p>
        <p><b>Sort </b><a href="" class="text-decoration-none mx-3">Popularity</a> <a href=""
                class="text-decoration-none mx-3">Price -- Low to High </a> <a href=""
                class="text-decoration-none mx-3">Newest First</a></p>

    </div>
    <hr>
    {% for a in prod %}
    <div id="maincard">


        <ul>
            <li><a href="/sale/{{a.id}}"><img src="{{a.Products_image.url}}" alt="{{a.image_name}}"
                        style="height:220px;"></a></li>
            <li id="infor"><a href="/sale/{{a.id}}" class="fw-bold  text-decoration-none">{{a.Product_name}}</a>
                <br>{{a.product_info}}<br>
            </li>
            <li id="retinfo">
                <p>{{a.Product_price}}<br>
                    ₹11,99925% off<br>
                    Free delivery<br>

                    Upto ₹8,400 Off on Exchange<br>
                    Bank Offer</p>
            </li>
        </ul>
        <div class="form-check mx-2">
            <input type="checkbox" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Add to Compare
            </label>
        </div>
        <hr>



    </div>
    {% endfor %}
  
    <!-- 
    <div class="card mb- w-100" style="border-radius: 0%; border:none;">

        <div class="row g-0">
            <div class="col-md-2 w-25 mx-4">
                <img src="/static/image/fnsl1.PNG" class="img-fluid rounded-start" alt="..." style="height:220px;">

            </div>
            <div class="col-md-8" style="position: relative;left: -7rem;">
                <div class="card-body w-50">
                    <a href="" class="fw-bold fs-5 text-decoration-none">realme C31 (Dark Green, 64 GB)</a><br>

                    <p class="card-text">
                        4.458,379 Ratings & 2,786 Reviews
                        4 GB RAM | 64 GB ROM | Expandable Upto 1 TB
                        16.56 cm (6.52 inch) HD Display
                        13MP + 2MP + 0.3MP | 5MP Front Camera
                        5000 mAh Battery
                        Unisoc T612 Processor
                        1 Year Warranty for Phone and 6 Months Warranty for In-Box Accessories</p>
                    <div class="pc mx-5" style="position:relative;left:30rem;top:-8rem">
                        
                        <p>₹8,999<br>
                            ₹11,99925% off<br>
                            Free delivery<br>
                            
                            Upto ₹8,400 Off on Exchange<br>
                            Bank Offer</p>
                    </div>

                    
                </div>
                
            </div>
            <div class="form-check mx-2" style="position: relative;top: -8rem;">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Add to Compare
                </label>
            </div>
            <hr  style="position: relative;top: -5rem;">

        </div>

        
        
    </div> -->








</div>





{% endblock body %}