<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/heder.css">
    <link rel="stylesheet" href="/static/css/sale.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <div class="wrapper" id="nevsaidphon">
                <input type="checkbox" id="btn" hidden>
                <label for="btn" class="menu-btn">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </label>
                <nav id="sidebar">
                    <div class="title">
                        <i class="fa-solid fa-user"> </i> login & singh up
                    </div>
                    <ul class="list-items">
                        <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                        <li><a href="#"><i class="fas fa-sliders-h"></i>Clients</a></li>
                        <li><a href="#"><i class="fas fa-address-book"></i>Services</a></li>
                        <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                        <li><a href="#"><i class="fas fa-stream"></i>Features</a></li>
                        <li><a href="#"><i class="fas fa-user"></i>About us</a></li>
                        <li><a href="#"><i class="fas fa-globe-asia"></i>Languages</a></li>
                        <li><a href="#"><i class="fas fa-envelope"></i>Contact us</a></li>
                    </ul>
                </nav>
                <a href="#"
                    style="position: absolute;left:3rem;top:-.1rem;text-decoration:none;color: white;">Navbar</a>

                <br>
            </div><br><br>
            <div id="phonicon" class="ms-auto" style="float:right;">
                <a href="" class="text-white mx-2"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="" class="text-decoration-none text-white">Login</a>
            </div>


            <a href="/" class="navbar-brand text-white fs-5 fw-bold" id="fliplogo">Flipkard</a>
            <form class="d-flex" id="sech">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-2 text-white fw-bold" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Login
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link mx-2 text-white fw-bold" href="#">Become a seler</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-2  text-white fs-5 fw-bold" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-white mx-2  fw-bold"><i class="fa-solid fa-cart-shopping"></i>
                            Card</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="nav-scroller bg-body shadow-sm mx-5" id="sechederhd">
        <nav class="nav nav-underline mx-5" aria-label="Secondary navigation">
            {% for a in catt %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{a.name}}
                </a>

                <ul class="dropdown-menu" id="ul_in_ul0">
                    {% for catgry in a.catogory_set.all %}
                    <li class="d-flex"><a class="dropdown-item"
                            href="/mobile-phones-store?categorysand={{catgry.id}}"><b> {{catgry.name}}</b></a></li>


                    {% for sb in catgry.subcatogory_set.all %}
                    <li class="d-flex"><a class="dropdown-item" href="/pro?probrand={{sb.id}}">{{sb.name}}</a></li>
                    {% endfor %}

                    {% comment %} <li><a class="dropdown-item" href="#">Mi</a></li>
                    <li><a class="dropdown-item" href="#">Realme</a></li>
                    <li><a class="dropdown-item" href="#">Samsung</a></li>
                    <li><a class="dropdown-item" href="#">Infinix</a></li>
                    <li><a class="dropdown-item" href="#"> OPPO</a></li>
                    <li><a class="dropdown-item" href="#">Apple</a></li>
                    <li><a class="dropdown-item" href="#">Vivo</a></li>
                    <li><a class="dropdown-item" href="#">Honor</a></li>
                    <li><a class="dropdown-item" href="#">Asus</a></li>
                    <li><a class="dropdown-item" href="#">Poco X2</a></li>
                    <li><a class="dropdown-item" href="#">realme Narzo 10</a></li>
                    <li><a class="dropdown-item" href="#">Infinix Hot 9</a></li>
                    <li><a class="dropdown-item" href="#">IQOO 3</a></li>
                    <li><a class="dropdown-item" href="#">iPhone SE</a></li>
                    <li><a class="dropdown-item" href="#">Motorola razr</a></li>
                    <li><a class="dropdown-item" href="#">realme Narzo 10A</a></li>
                    <li><a class="dropdown-item" href="#">Motorola g8 power lite</a></li> {% endcomment %}

                    {% endfor %}
                </ul>

                {% comment %} <ul class="dropdown-menu bg-light" id="ul_in_ul1">
                    <li><a class="dropdown-item" href="#"><b>Mobile Accessories ></b></a></li>
                    <li><a class="dropdown-item" href="#">Mobile Cases</a></li>
                    <li><a class="dropdown-item" href="#">Headphones & Headsets</a></li>
                    <li><a class="dropdown-item" href="#">Power Banks</a></li>
                    <li><a class="dropdown-item" href="#">Screenguards</a></li>
                    <li><a class="dropdown-item" href="#">Memory Cards</a></li>
                    <li><a class="dropdown-item" href="#">Smart Headphones</a></li>
                    <li><a class="dropdown-item" href="#">Mobile Cables</a></li>
                    <li><a class="dropdown-item" href="#">Mobile Chargers</a></li>
                    <li><a class="dropdown-item" href="#">Mobile Holders</a></li>
                    <li><a class="dropdown-item" href="#"><b>Smart Wearable Tech ></b></a></li>
                    <li><a class="dropdown-item" href="#">Smart Watches</a></li>
                    <li><a class="dropdown-item" href="#">Smart Glasses (VR)</a></li>
                    <li><a class="dropdown-item" href="#">Smart Bands</a></li>
                    <li><a class="dropdown-item" href="#"><b>Health Care Appliances ></b></a></li>
                    <li><a class="dropdown-item" href="#">Bp Monitors</a></li>
                    <li><a class="dropdown-item" href="#">Weighing Scale</a></li>



                </ul>
                <ul class="dropdown-menu" id="ul_in_ul2">
                    <li><a class="dropdown-item" href="#"><b>Laptops ></b></a></li>
                    <li><a class="dropdown-item" href="#">Gaming Laptops</a></li>
                    <li><a class="dropdown-item" href="#"><b>Desktop PCs ></b></a></li>
                    <li><a class="dropdown-item" href="#"><b>Gaming & Accessories ></b></a></li>
                    <li><a class="dropdown-item" href="#"><b>Computer Accessories ></b></a></li>
                    <li><a class="dropdown-item" href="#">External Hard Disks</a></li>
                    <li><a class="dropdown-item" href="#">Pendrives</a></li>
                    <li><a class="dropdown-item" href="#">Laptop Skins & Decals</a></li>
                    <li><a class="dropdown-item" href="#">Laptop Bags</a></li>
                    <li><a class="dropdown-item" href="#">Mouse</a></li>
                    <li><a class="dropdown-item" href="#"><b>Computer Peripherals></b></a></li>
                    <li><a class="dropdown-item" href="#">Printers & Ink Cartridges</a></li>
                    <li><a class="dropdown-item" href="#">Monitors</a></li>
                    <li><a class="dropdown-item" href="#"><b>Tablets ></b></a></li>
                    <li><a class="dropdown-item" href="#">Apple iPads</a></li>


                </ul>
                <ul class="dropdown-menu bg-light" id="ul_in_ul3">
                    <li><a class="dropdown-item" href="#">Televisions</a></li>
                    <li><a class="dropdown-item" href="#"><b>Speakers ></b></a></li>
                    <li><a class="dropdown-item" href="#">Home Audio Speakers</a></li>
                    <li><a class="dropdown-item" href="#">Home Theatres</a></li>
                    <li><a class="dropdown-item" href="#">Soundbars</a></li>
                    <li><a class="dropdown-item" href="#">Bluetooth Speakers</a></li>
                    <li><a class="dropdown-item" href="#">DTH Set Top Box</a></li>
                    <li><a class="dropdown-item" href="#"><b>Smart Home Automation ></b></a></li>
                    <li><a class="dropdown-item" href="#">Google Nest</a></li>
                    <li><a class="dropdown-item" href="#"><b>Camera ></b></a></li>
                    <li><a class="dropdown-item" href="#">DSLR & Mirrorless</a></li>
                    <li><a class="dropdown-item" href="#">Compact & Bridge Cameras</a></li>
                    <li><a class="dropdown-item" href="#">Sports & Action</a></li>
                    <li><a class="dropdown-item" href="#"><b>Camera Accessories ></b></a></li>
                    <li><a class="dropdown-item" href="#">Lens</a></li>
                    <li><a class="dropdown-item" href="#">Tripods</a></li>
                    <li><a class="dropdown-item" href="#"><b>Network Components ></b></a></li>
                    <li><a class="dropdown-item" href="#">Routers</a></li>

                </ul>
                <ul class="dropdown-menu" id="ul_in_ul4">
                    <li><a class="dropdown-item" href="#"><b>Featured </b></a></li>
                    <li><a class="dropdown-item" href="#">Google Assistant Store</a></li>
                    <li><a class="dropdown-item" href="#">Laptops on Buyback Guarantee</a></li>
                    <li><a class="dropdown-item" href="#">Flipkart SmartBuy</a></li>
                    <li><a class="dropdown-item" href="#">Li-Polymer Power Banks</a></li>
                    <li><a class="dropdown-item" href="#">Sony PS4 Pro & Slim</a></li>
                    <li><a class="dropdown-item" href="#">Apple Products</a></li>
                    <li><a class="dropdown-item" href="#">Microsoft Store</a></li>
                    <li><a class="dropdown-item" href="#">Lenovo Phab Series</a></li>
                    <li><a class="dropdown-item" href="#">JBL Speakers</a></li>
                    <li><a class="dropdown-item" href="#">Smartphones On Buyback</a></li>
                    <li><a class="dropdown-item" href="#">Guarantee</a></li>
                    <li><a class="dropdown-item" href="#">Philips</a></li>
                    <li><a class="dropdown-item" href="#">Dr. Morepen</a></li>
                    <li><a class="dropdown-item" href="#">Complete Mobile Protection</a></li>
                    <li><a class="dropdown-item" href="#">Huawei Watch Gt 2e Smart Watch</a></li>
                    <li><a class="dropdown-item" href="#">Mobiles No Cost EMI</a></li>
                </ul> {% endcomment %}


            </li>


            {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    TVs & Appliances

                </a>
                <ul class="dropdown-menu" id="ul_in_ul0">
                    <li><a class="dropdown-item" href="#"><b>Television ></b></a></li>
                    <li><a class="dropdown-item" href="#"><b>New Launches</b></a></li>
                    <li><a class="dropdown-item" href="#"><b>Smart & Ultra HD</b></a></li>
                    <li><a class="dropdown-item" href="#"><b>Top Brands</b></a></li>
                    <li><a class="dropdown-item" href="#">Thomson</a></li>
                    <li><a class="dropdown-item" href="#"> Mi</a></li>
                    <li><a class="dropdown-item" href="#">Vu</a></li>
                    <li><a class="dropdown-item" href="#">Samsung</a></li>
                    <li><a class="dropdown-item" href="#">iFFALCON by TCL</a></li>
                    <li><a class="dropdown-item" href="#">Nokia</a></li>
                    <li><a class="dropdown-item" href="#">LG</a></li>
                    <li><a class="dropdown-item" href="#">realme</a></li>
                    <li><a class="dropdown-item" href="#">Motorola</a></li>
                    <li><a class="dropdown-item" href="#"><b>Shop by Screen Size</b></a></li>
                    <li><a class="dropdown-item" href="#">24 & below</a></li>
                    <li><a class="dropdown-item" href="#">28-32</a></li>
                    <li><a class="dropdown-item" href="#">39-43</a></li>
                    <li><a class="dropdown-item" href="#">48-55</a></li>
                    <li><a class="dropdown-item" href="#">60 & above</a></li>


                </ul>

                <ul class="dropdown-menu bg-light" id="ul_in_ul1">
                    <li><a class="dropdown-item" href="#"><b>Washing Machine ></b></a></li>
                    <li><a class="dropdown-item" href="#">Fully Automatic Front Load</a></li>
                    <li><a class="dropdown-item" href="#">Semi Automatic Top Load</a></li>
                    <li><a class="dropdown-item" href="#">Fully Automatic Top Load</a></li>
                    <li><a class="dropdown-item" href="#"><b>Air Conditioners ></b></a></li>
                    <li><a class="dropdown-item" href="#">Inverter AC</a></li>
                    <li><a class="dropdown-item" href="#">Split ACs</a></li>
                    <li><a class="dropdown-item" href="#">Window ACs</a></li>
                    <li><a class="dropdown-item" href="#"><b>Shop By Brand</b></a></li>
                    <li><a class="dropdown-item" href="#">LG</a></li>
                    <li><a class="dropdown-item" href="#">Hitachi</a></li>
                    <li><a class="dropdown-item" href="#">Carrier</a></li>
                    <li><a class="dropdown-item" href="#"><b>Double Door</b></a></li>
                    <li><a class="dropdown-item" href="#">Single Door</a></li>
                    <li><a class="dropdown-item" href="#">Double Door</a></li>
                    <li><a class="dropdown-item" href="#">Triple door</a></li>
                    <li><a class="dropdown-item" href="#">Side by Side</a></li>
                    <li><a class="dropdown-item" href="#">Convertible</a></li>



                </ul>
                <ul class="dropdown-menu" id="ul_in_ul2">
                    <li><a class="dropdown-item" href="#"><b>Kitchen Appliances ></b></a></li>
                    <li><a class="dropdown-item" href="#">Microwave Ovens</a></li>
                    <li><a class="dropdown-item" href="#">Oven Toaster Grills (OTG)</a></li>
                    <li><a class="dropdown-item" href="#">Juicer/Mixer/Grinder</a></li>
                    <li><a class="dropdown-item" href="#">Electric Kettle</a></li>
                    <li><a class="dropdown-item" href="#">Induction Cooktops</a></li>
                    <li><a class="dropdown-item" href="#">Chimneys</a></li>
                    <li><a class="dropdown-item" href="#">Hand Blenders</a></li>
                    <li><a class="dropdown-item" href="#">Sandwich Makers</a></li>
                    <li><a class="dropdown-item" href="#">Pop Up Toasters</a></li>
                    <li><a class="dropdown-item" href="#">Electric Cookers</a></li>
                    <li><a class="dropdown-item" href="#">Wet Grinders</a></li>
                    <li><a class="dropdown-item" href="#">Food Processors</a></li>
                    <li><a class="dropdown-item" href="#">Coffee Makers</a></li>
                    <li><a class="dropdown-item" href="#">Dishwashers</a></li>
                    <li><a class="dropdown-item" href="#"><b>Healthy Living Appliances ></b></a></li>


                </ul>
                <ul class="dropdown-menu bg-light" id="ul_in_ul3">
                    <li><a class="dropdown-item" href="#"><b>Small Home Appliances ></b></a></li>
                    <li><a class="dropdown-item" href="#">Irons</a></li>
                    <li><a class="dropdown-item" href="#">Water Purifiers</a></li>
                    <li><a class="dropdown-item" href="#">Fans</a></li>
                    <li><a class="dropdown-item" href="#">Air Coolers</a></li>
                    <li><a class="dropdown-item" href="#">Inverters</a></li>
                    <li><a class="dropdown-item" href="#">Vacuum Cleaners</a></li>
                    <li><a class="dropdown-item" href="#">Sewing Machines</a></li>
                    <li><a class="dropdown-item" href="#">Immersion Rods</a></li>
                    <li><a class="dropdown-item" href="#">Voltage Stabilizer</a></li>
                    <li><a class="dropdown-item" href="#">Water Geysers</a></li>
                    <li><a class="dropdown-item" href="#"><b>Top Brands</b></a></li>
                    <li><a class="dropdown-item" href="#">Livpure</a></li>
                    <li><a class="dropdown-item" href="#"><b>Philips</b></a></li>
                    <li><a class="dropdown-item" href="#">Bajaj</a></li>
                    <li><a class="dropdown-item" href="#">FIB</a></li>
                    <li><a class="dropdown-item" href="#">Eureka Forbes</a></li>
                    <li><a class="dropdown-item" href="#">Kaff</a></li>

                </ul>
                <ul class="dropdown-menu" id="ul_in_ul4">
                    <li><a class="dropdown-item" href="#"><b>Buying Guides</b></a></li>
                    <li><a class="dropdown-item" href="#">Televisions</a></li>
                    <li><a class="dropdown-item" href="#">Washing Machines</a></li>
                    <li><a class="dropdown-item" href="#">Flipkart SmartBuy</a></li>
                    <li><a class="dropdown-item" href="#">Refrigerators</a></li>
                    <li><a class="dropdown-item" href="#">Air Conditioners</a></li>
                    <li><a class="dropdown-item" href="#">Water Purifiers</a></li>
                    <li><a class="dropdown-item" href="#">Air Purifiers</a></li>
                    <li><a class="dropdown-item" href="#">Chimneys</a></li>
                    <li><a class="dropdown-item" href="#">Water Geysers</a></li>
                    <li><a class="dropdown-item" href="#"><b>New Launches</b></a></li>
                    <li><a class="dropdown-item" href="#">Nokia (55) 4K Android TV</a></li>
                    <li><a class="dropdown-item" href="#">Mi (32) 4A Pro Android TV</a></li>
                    <li><a class="dropdown-item" href="#">MarQ (43) FHD Smart TV</a></li>
                    <li><a class="dropdown-item" href="#">LG Refrigerators</a></li>
                    <li><a class="dropdown-item" href="#">Thomson (40) 4K Smart TV</a></li>
                    <li><a class="dropdown-item" href="#">Kodak (22) | (32) LED TVs</a></li>
                    <li><a class="dropdown-item" href="#">Whirlpool Refrigerators</a></li>
                </ul>

            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Baby & Kids


                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Men

                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Women

                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Home & Furniture


                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sports, Books & More


                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li> {% endcomment %}
            {% endfor %}

            <a class="nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Offer Zone
            </a>


            <a class="nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Flights
            </a>


        </nav>
    </div>




    <div class="row" style=" position: relative;left: -2rem;">
        <div class="col-sm-6 shadow-sm position-sticky" id="zoomxmg"
            style=" position: sticky !important; top: 0 !important; ">
            <div class="shadow-sm" style="width:7rem; position: absolute;align-items: center;">
                <p id="bnt1" style="margin-left:4rem;"><i class="fa-solid fa-chevron-up"></i></p>
            </div>
            <br>
            <ul id="slidesmmg">
                {% for a in promg %}
                <li><img src="{{a.image.url}}" class="small_img" alt=""></li>

                {% endfor %}

            </ul>

            <br>
            <div class="shadow-sm" style="width:8rem; position:absolute;top:27rem;">
                <p href="" id="bnt2" style="margin-left:4rem;"><i class="fa-sharp fa-solid fa-chevron-down"></i></p>
            </div>


            <img src="{{sale_product.Products_image.url}}" class="big_image" alt="{{sale_product.image_name}}">
            <br>
            <br>
            <div id="btnss">
                <ul>
                    <li><a href="" class="nav-link text-white mx-3 p-3 fw-bold"><i
                                class="fa-solid fa-cart-shopping"></i> ADD TO CARD</a></li>
                    <li><a href="/checkeout" id="by" class="nav-link text-white mx-3 p-3 fw-bold"><i
                                class="fa-solid fa-bolt-lightning"></i> BUY NOW</a></li>
                </ul>

            </div>

        </div>



        <div class="col-sm-6" style="padding-left: 6rem;">

            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                From the Firehose
            </h3>

            <article class="blog-post">
                <p>{{sale_product.Product_name}}</p>
                <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>

                <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap.
                    Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
                <hr>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it
                    often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <h2>Blockquotes</h2>
                <p>This is an example blockquote in action:</p>
                <blockquote class="blockquote">
                    <p>Quoted text goes here.</p>
                </blockquote>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it
                    often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <h3>Example lists</h3>
                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                    other
                    highly repetitive body text used throughout. This is an example unordered list:</p>
                <ul>
                    <li>First list item</li>
                    <li>Second list item with a longer description</li>
                    <li>Third list item to close it out</li>
                </ul>
                <p>And this is an ordered list:</p>
                <ol>
                    <li>First list item</li>
                    <li>Second list item with a longer description</li>
                    <li>Third list item to close it out</li>
                </ol>
                <p>And this is a definition list:</p>
                <dl>
                    <dt>HyperText Markup Language (HTML)</dt>
                    <dd>The language used to describe and define the content of a Web page</dd>
                    <dt>Cascading Style Sheets (CSS)</dt>
                    <dd>Used to describe the appearance of Web content</dd>
                    <dt>JavaScript (JS)</dt>
                    <dd>The programming language used to build advanced Web sites and applications</dd>
                </dl>
                <h2>Inline HTML elements</h2>
                <p>HTML defines a long list of available inline tags, a complete list of which can be found on the
                    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla Developer
                        Network</a>.
                </p>
                <ul>
                    <li><strong>To bold text</strong>, use <code
                            class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>
                    <li><em>To italicize text</em>, use <code
                            class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.</li>
                    <li>Abbreviations, like <abbr title="HyperText Markup Language">HTML</abbr> should use <code
                            class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional <code
                            class="language-plaintext highlighter-rouge">title</code> attribute for the full phrase.
                    </li>
                    <li>Citations, like <cite>— Mark Otto</cite>, should use <code
                            class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.</li>
                    <li><del>Deleted</del> text should use <code
                            class="language-plaintext highlighter-rouge">&lt;del&gt;</code> and <ins>inserted</ins>
                        text
                        should use <code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.</li>
                    <li>Superscript <sup>text</sup> uses <code
                            class="language-plaintext highlighter-rouge">&lt;sup&gt;</code> and subscript
                        <sub>text</sub> uses <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.
                    </li>
                </ul>
                <p>Most of these elements are styled by browsers with few modifications on our part.</p>
                <h2>Heading</h2>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it
                    often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <h3>Sub-heading</h3>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it
                    often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <pre><code>Example code block</code></pre>
                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                    other
                    highly repetitive body text used throughout.</p>



                <div class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
                    <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
                </div>

        </div>

    </div>
    <script>
        let sliders1 = document.querySelectorAll(".small_img");
        let downbt=document.getElementById("bnt2")
        let upbt=document.getElementById("bnt1")
        let cn = 0;
    
        upbt.addEventListener("click",()=>{
            cn++
            if (cn==sliders1.length){
                cn=0
            }
            else{
                imageSlider()
            }

        })
        downbt.addEventListener("click",()=>{
            a=cn--
            console.log(a)

            if (cn==-sliders1.length){
                cn=sliders1.length
            }
            else{
                imageSlider()
            }
            imageSlider()
        })
        sliders1.forEach((sliders, index) => {
            sliders.style.left = `${index * 20}%`

        });
        const imageSlider = () => {
            sliders1.forEach((sliders) => {
                sliders.style.transform = `translateY(${cn * 20}%)`
            })
        }
    </script>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer id="footer1">
        <div id="ftulfull1" class="mx-5">
            <ul>
                <td>About</td>
                <li><a href="">Contact US</a></li>
                <li><a href="">About US</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Flipkart Stories</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Flipkart Wholesale</a></li>
                <li><a href="">Corporate Information</a></li>
            </ul>
            <ul>
                <td>Help</td>
                <li><a href="">Payments</a></li>
                <li><a href="">Shipping</a></li>
                <li><a href="">Cancellation & Returns</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Report Infringement</a></li>
                <li><a href=""></a></li>

            </ul>
            <ul>
                <td>Policy</td>
                <li><a href="">Return Policy</a></li>
                <li><a href="">Terms Of Use</a></li>
                <li><a href="">Security</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Sitemap</a></li>
                <li><a href="">EPR Compliance</a></li>
            </ul>
            <ul>
                <td>Social</td>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">YouTube</a></li>
            </ul>
            <ul>
                <li><img src="/static/image/flg6ln.PNG" alt=""></li>
            </ul>
            <ul>
                <td>Mail us</td>
                <li>Flipkart Internet Private Limited,</li>
                <li>Buildings Alyssa, Begonia &</li>
                <li>Clove Embassy Tech Village,</li>
                <li>Outer Ring Road, Devarabeesanahalli Village,</li>
                <li>Bengaluru, 560103,</li>
                <li>Karnataka, India</li>
            </ul>
            <ul>
                <td>Registered Office Address:</td>
                <li>Flipkart Internet Private Limited,</li>
                <li>Buildings Alyssa, Begonia &</li>
                <li>Clove Embassy Tech Village,</li>
                <li>Outer Ring Road, Devarabeesanahalli Village,</li>
                <li>Bengaluru, 560103,</li>
                <li>Karnataka, India</li>
                <li>CIN : U51109KA2012PTC066107</li>
                <li>Telephone: <a href="" class="text-primary">044-45614700</a></li>
                <li></li>
            </ul>
        </div>
        <hr class="text-white">
        <div id="ftulfull">
            <ul>
                <li><img src="/static/image/footerlg1.PNG" alt=""><a href="">Become a Seller</a></li>
                <li><img src="/static/image/footerlg2.PNG" alt=""><a href="">Advertise</a></li>
                <li><img src="/static/image/flg3.PNG" alt=""><a href="">Gift Cards</a></li>
                <li><img src="/static/image/flg4.PNG" alt=""><a href="">Help Center</a></li>
                <li>© 2007-2023 Flipkart.com</li>
                <li><img src="/static/image/flg5.PNG" alt=""><a href=""></a></li>
            </ul>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="/static/js/zoomsl.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".small_img").hover(function () {
                $(".big_image").attr("src", $(this).attr('src'))
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $(".big_image").imagezoomsl({
                zoomrange: [3.3]
            })
        })

    </script>

</body>

</html>